@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.bg-sky-900 {
  background-color: #202938;
}

.form {
  background-color: #ffffff;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.changeIcon {
  margin-top: 1vh;
  height: 27px;
  cursor: pointer;
  position: absolute;
  left: -2vh;
  bottom: 2;
}

.inputField {
  background-color: white;
  border: 1px solid black;
}

.flightsearch {
  /* background-color: #0F172A; */
  border-radius: 17px;
  /* border-top-left-radius: 17px; */
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #2b6cb0;
  /*Set to match the Tailwind colour you want the active one to be */
}

.ci-1 {
  height: 500px;
  background-image: url("../elements/banner.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.ci-2 {
  height: 500px;
  background-image: url(https://mdbootstrap.com/img/new/slides/054.jpg);
}

.ci-3 {
  height: 500px;
  background-image: url(https://mdbootstrap.com/img/new/slides/052.jpg);
}

.carousel-item {
  height: 50vh;
}

.cards {
  display: flex;
  /* float: left; */
  gap: 20px;
}

.homePageBanner {
  /* background-color: #111827;   */
  /* background: rgb(15,19,42);
background: linear-gradient(90deg, rgba(15,19,42,1) 69%, rgba(35,0,140,1) 99%); */
  /* background: rgb(15,19,42);
background: linear-gradient(180deg, rgba(15,19,42,1) 40%, rgba(35,0,140,1) 66%); */
  background: linear-gradient(to bottom, #051322, #4078b9);
  /* background-image: url('https://img1.goodfon.com/wallpaper/nbig/6/ed/boeing-737-aviaciya-samolet.jpg'); */
  /* background-color: white; */
  /* background-image: url(); */
  /* background-image: linear-gradient(to right, #635dc0, #3027ae); */
  /* background-image: url('https://www.qatarairways.com/content/dam/images/renditions/horizontal-1/privilege-club/cards-circle/h1-ffp-cards-qsuite-crew.jpg'); */
  background-repeat: no-repeat;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  height: 50vh;
  background-size: cover;
}


.dateInput {
  flex-flow: row-reverse;
  /* padding: 8px; */
  cursor: pointer;
  background-color: #f8fafc;
  border-bottom: 1px solid black;
  margin-top: 12px;
}

.numberInput {
  cursor: pointer;
  background-color: #f8fafc;
  border-bottom: 1px solid black;
}

.flightSearchBox {
  margin-top: -20%;
  border-radius: 17px;
  /* padding-top: 17%; */
}

.way {
  margin-left: -1.5vh;
}

.flightImage {
  height: 110px;
  margin-left: 3vh;
  position: absolute;
  right: 3vw;
  top: 30vh
}

.tag {
  color: white;
  height: 110px;
  margin-left: 3vh;
  position: absolute;
  left: 14vw;
  top: 20vh;
  font-size: 68px;
  font-family: Josefin Sans;
  text-align: center;
}

@media screen and (max-width: 768px) and (max-height: 1240px) {
  .changeIcon {
    margin-top: 1vh;
    height: 27px;
    cursor: pointer;
    margin-bottom: -3vh;
  }

  .flightImage {
    /* height: 9vh;
    position: absolute;
    right: 1vw;
    top: 40vh; */
    display: none;
  }

  .labels {
    right: 0%;
    text-align: center;
  }

  .changeIcon {
    /* margin-top: 1vh; */
    left: 47%;
    height: 28px;
    cursor: pointer;
    position: absolute;
    bottom: 18vh;
  }

  .selectbar {
    position: fixed;
  }

  .tag {
    display: none;
  }

  .radioText {
    font-size: large;
  }

  .flightSearchBox {
    border-radius: 17px;
    padding-top: 0%;
  }

  .search-button {
    text-align: center;
    left: 41vw !important;
  }

  .h1 {
    font-size: 27px !important;
    font-family: Josefin Sans;
    text-align: center;
    margin-top: 0vh !important;
  }

  .sectionOne {
    height: 7vh !important;
  }

  .bannerImage {
    background-image: url("../elements/flightbanner.jpg");
    background-repeat: no-repeat;
    width: 100%;
    padding: 200px 0;
    background-size: cover;
    object-fit: fill;

  }

  .changeIcon {
    display: none;
  }


  .homePageBanner {
    display: none;
  }

  
.colOne {
  border-left: solid 5px #0f1821;
  margin-left: 25vw !important;
}

.colTwo {
  margin-left: 35vw !important;
}

.colThree {
  margin-left: 45vw !important;
}

.colFour {
  margin-left: 55vw !important;
}

.colFive {
  margin-left: 65vw !important;
}

.colSix {
  margin-left: 75vw !important;
  border-right: solid 5px #0f1821;
}

}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .flightImage {
    height: 9vh;
    position: absolute;
    right: 6vw;
    top: 74vh
  }

  .tag {
    display: none;
  }

  .flightSearchBox {
    border-radius: 17px;
    padding-top: 0%;
  }

  .h1 {
    font-size: 15px;
    font-family: Josefin Sans;
    text-align: center;
    margin-top: 0vh;
  }
  
}

@media screen and (min-height: 700px) and (max-height: 1029px) and (min-width: 300px) and (max-width: 1025px) {
  .flightImage {
    height: 9vh;
    position: absolute;
    right: 1vw;
    top: 30vh;
  }
}

.search-button {
  text-align: center;
  left: 46vw;
}

.ul {
  background-color: white;
}

.bannerImage {
  /* background-image: url("https://i.pinimg.com/736x/33/a4/5e/33a45ef3ebf14e26b29ef408f7506a7e.jpg"); */
  background-image: url("../elements/flightbanner.jpg");
  background-repeat: no-repeat;
  width: 100%;
  padding: 200px 0;
  background-size: cover;
  object-fit: fill;
}

.sectionOne {
  height: 78vh;
}

.left-section {
  float: left;
  width: 50%;
  height: 100%;
}

.h1 {
  font-size: 68px;
  font-family: Josefin Sans;
  text-align: center;
  margin-top: 15vh;
}

.right-section {
  float: left;
  width: 50%;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.left {
  width: 70%;
  float: left;
}

.right {
  width: 20%;
  float: right;
}

.linkcolor {
  color: #335593;
}

.passengerDetails {
  position: absolute;
  height: 135px;
  display: flex;
  float: right;
  right: 0;
  top: 9 px;
}



.seatsDiv {
  /* max-width: 120px; */
  /* margin-left: 15vh; */
  /* float: left; */
  /* cursor: pointer;
  margin-left: 28px;
  width: 100px; */
}

.seatsDivOne {
  /* max-width: 120px; */
  /* margin-left: 15vh; */
  /* float: left;
  cursor: pointer;
  margin-left: 28px;
  width: 100px; */
}

.seatsDiv {
  /* max-width: 120px; */
  /* margin-left: 15vh; */
  /* float: right; */
  /* cursor: pointer;
  margin-left: 28px;
  width: 100px; */
}

.seats {
  text-align: center;
  font-size: small;
}

.seats img {
  height: 31px;
}


.colOne {
  border-left: solid 5px #0f1821;
  margin-left: 30vw;
}

.colTwo {
  margin-left: 35vw;
}

.colThree {
  margin-left: 45vw;
}

.colFour {
  margin-left: 50vw;
}

.colFive {
  margin-left: 60vw;
}

.colSix {
  margin-left: 65vw;
  border-right: solid 5px #0f1821;
}

.SeatsMain {
  /* outline: 2px solid black; */
}

.seatDiv {
  outline: 2px solid black;
}