::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.bg-sky-900 {
  background-color: #202938
}

.form {
  background-color: #ffffff;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.changeIcon {
  margin-top: 2vh;
  height: 27px;
  cursor: pointer;
}

.inputField{
  background-color: white;
}

.flightsearch {
  background-color: #111827;

}

.search {
  background-color: #22C55E;
}

.carousel-open:checked+.carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #2b6cb0;
  /*Set to match the Tailwind colour you want the active one to be */
}

.ci-1 {
  height: 500px;
  background-image: url('../elements/banner.jpg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%
}

.ci-2 {
  height: 500px;
  background-image: url(https://mdbootstrap.com/img/new/slides/054.jpg)
}

.ci-3 {
  height: 500px;
  background-image: url(https://mdbootstrap.com/img/new/slides/052.jpg)
}

.carousel-item {
  height: 50vh;
}

.cards {
  display: flex;
  /* float: left; */
  gap: 20px;
}

.homePage{
  /* background-color: #111827;   */
}

input[type="date"] {
  display: flex;
  flex-flow: row-reverse;
  padding: 8px;
  height: auto;
}